<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Bootstrap 4-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Curso Vuejs</title>
</head>
<body>
    <div id="app" class="container mt-5">
        {{ titulo }}
       <div :class="[background,pading,'text-white']">
           <p v-html='content'></p>
       </div> 
       <div class="my-4 text-white" :class="[{ 'bg-info' : color }, pading]">
           <p v-html='content'></p>
       </div>
       <input type="text" class="form-control my-3" v-model="background">
    </div>
    <script src="app.js"></script>
</body>
</html>