<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Curso Vuejs</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Bootstrap 4-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <h1>{{titulo}}</h1>
        
        <ul>
            <li v-for="product of products">
                {{ product.nombre }} - {{ product.precio }}
                <input v-model.number="product.cantidad" type="number" />
                <span v-if="product.catidad === 0">No hay product</span>
            </li>
        </ul>
        <h4>Total products: {{ totalProducts }}</h4>
    </div>
    <script src="app.js"></script>
</body>
</html>    
