<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Curso de Vuejs</title>
</head>
<body>
    
    <div id="app">
        <h1>{{ titulo }}</h1>

        <input type="text" v-model="nuevoCar" @keyup.enter="agregarCar">
        <button @click="agregarCar">Agregar Car</button>
        
        <ul>
            <li v-for="numero of numeros">
                {{ numero.nombre }} -
                <input type="number" v-model.number="numero.valor">
                <span v-if="numero.valor === 0"> - Sin Stock</span>
            </li>
        </ul>

        <h4>Total = {{ sumarCar }}</h4>
    </div>

    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="app.js"></script>    
</body>
</html> 